In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('input/coletaComFinal.txt', delimiter = ' ')
df

                 Peças
0     1000972458101201
1     1000972457101202
2     1000972456101203
3     1000972459101204
4     1000972460101205
..                 ...
178   1000192665536105
179   1000902827538101
180   1000913714538102
181   1000903815538103
182  10008924314539201

[183 rows x 1 columns]

In [3]:
df.insert(1, "Local", ['' for i in range(0, len(df.index))], allow_duplicates = True)
df

                 Peças Local
0     1000972458101201
1     1000972457101202
2     1000972456101203
3     1000972459101204
4     1000972460101205
..                 ...   ...
178   1000192665536105
179   1000902827538101
180   1000913714538102
181   1000903815538103
182  10008924314539201

[183 rows x 2 columns]

In [4]:
df["Local"] = df["Peças"].map(lambda x: int(str(x)[-6:]))
df["Peças"] = df["Peças"].map(lambda x: int(str(x)[:-6]))
df

           Peças   Local
0     1000972458  101201
1     1000972457  101202
2     1000972456  101203
3     1000972459  101204
4     1000972460  101205
..           ...     ...
178   1000192665  536105
179   1000902827  538101
180   1000913714  538102
181   1000903815  538103
182  10008924314  539201

[183 rows x 2 columns]

In [5]:
def defineRua(string):
    
    if string == '1':
        return 'A'
    elif string == '2':
        return 'B'
    elif string == '3':
        return 'C'
    elif string == '4':
        return 'D'
    elif string == '5':
        return 'E'
    else:
        return "ERRO"

def defineColunaEGaveta(n):
    
    col = str(n // 10)
    gav = str(n % 10)
    
    if(len(str(gav)) == 1):
        return " G{} C0{}".format(col, gav)
    else:
        return " G{} C{}".format(col, gav)


def transformaLocal(df, coluna):
    
    df[coluna] = df[coluna].map(lambda x: "R" + defineRua(str(x)[0]) + defineColunaEGaveta(int(str(x)[1:4])))

In [7]:
transformaLocal(df, "Local")
df.columns

ValueError: invalid literal for int() with base 10: 'A G'

In [ ]:
df[df["Local"].str.len() != 3]

In [10]:
a = 2.0
b = a.2f
b

SyntaxError: invalid syntax (<ipython-input-10-3aad86bf5f04>, line 2)