In [1]:
import pandas as pd
pd.set_option('display.max_colwidth', None)

## Leitura do CSV do Virtual Age

In [2]:
dfVA = pd.read_csv('dados/dadosVA.csv', delimiter=";")

## Leitura do CSV Coletado

In [3]:
dfColeta = pd.read_csv('dados/dadosColeta.csv', delimiter=";")

## Vizualização dos CSVs em DataFrame

In [4]:
dfVA

    Peça Local
0      1     a
1      2     b
2      3     c
3      4     d
4      5     e
5      6     f
6      7     g
7      8     h
8      9     i
9     10     j
10    15     m
11    17     k

In [5]:
dfColeta

    Peça Local
0     10     a
1      4     c
2      2     b
3      5     h
4      6     r
5      3     f
6      1     g
7      9     r
8     11     c
9      7     l
10     8     i
11    12     d

## Função de Transformação - Dataframe em Dicionário

In [6]:
def dataframeToDict(originalDf):
    newDict = {}
    for i in range(0, len(originalDf.index)):
        if originalDf.iloc[i]['Peça'] in newDict:
            pass
        else:
            newDict[originalDf.iloc[i]['Peça']] = originalDf.iloc[i]['Local']
    
    return newDict

## Função de Comparação entre Dicionários

In [7]:
def comparaDicionarios(dictA, dictB):
    listaDeConfirmações = []
    for i in dictA:
        if i in dictB:
            if dictA[i] == dictB[i]:
                listaDeConfirmações.append([i, 2])
            else:
                listaDeConfirmações.append([i, 0])
        else:
            listaDeConfirmações.append([i, 1])
    
    listaDeConfirmações = sorted(listaDeConfirmações, key = lambda x: x[0])
    
    for i in range(0, len(listaDeConfirmações)):
        if listaDeConfirmações[i][1] == 0:
            listaDeConfirmações[i].append("Peça existe em ambos registros, porém com locais não correspondentes.")
            print(f"Peça {listaDeConfirmações[i][0]}: Peça existe em ambos registros, porém com locais não correspondentes.")
        elif listaDeConfirmações[i][1] == 1:
            listaDeConfirmações[i].append("Peça que existem apenas no registro ao qual corresponde a coluna.")
            print(f"Peça {listaDeConfirmações[i][0]}: Peça que existem apenas no registro ao qual corresponde a coluna.")
        elif listaDeConfirmações[i][1] == 2:
            listaDeConfirmações[i].append("Peça que existem em ambos registro, e com local igual.")
            print(f"Peça {listaDeConfirmações[i][0]}: Peça que existem em ambos registro, e com local igual.")
        
        del(listaDeConfirmações[i][1])
    
    return listaDeConfirmações

## Função de Transformação - Lista de Listas em Dataframe

In [8]:
def listOfListsToDataframe(listOfLists):
    return pd.DataFrame(listOfLists, columns = ['Peça', 'Resultado'])

## Função de Transformação - Dataframe em CSV

In [9]:
def dataframeToCSV(df, endereco):
    df.to_csv(endereco, index=False, sep = ';')

## Execução de Teste

In [10]:
dictVA = dataframeToDict(dfVA)
dictColeta = dataframeToDict(dfColeta)

    Peça Local
0      1     a
1      2     b
2      3     c
3      4     d
4      5     e
5      6     f
6      7     g
7      8     h
8      9     i
9     10     j
10    15     m
11    17     k

In [11]:
resultsVA = comparaDicionarios(dictVA, dictColeta)

Peça 1: Peça existe em ambos registros, porém com locais não correspondentes.
Peça 2: Peça que existem em ambos registro, e com local igual.
Peça 3: Peça existe em ambos registros, porém com locais não correspondentes.
Peça 4: Peça existe em ambos registros, porém com locais não correspondentes.
Peça 5: Peça existe em ambos registros, porém com locais não correspondentes.
Peça 6: Peça existe em ambos registros, porém com locais não correspondentes.
Peça 7: Peça existe em ambos registros, porém com locais não correspondentes.
Peça 8: Peça existe em ambos registros, porém com locais não correspondentes.
Peça 9: Peça existe em ambos registros, porém com locais não correspondentes.
Peça 10: Peça existe em ambos registros, porém com locais não correspondentes.
Peça 15: Peça que existem apenas no registro ao qual corresponde a coluna.
Peça 17: Peça que existem apenas no registro ao qual corresponde a coluna.

In [12]:
resultsColeta = comparaDicionarios(dictColeta, dictVA)

Peça 1: Peça existe em ambos registros, porém com locais não correspondentes.
Peça 2: Peça que existem em ambos registro, e com local igual.
Peça 3: Peça existe em ambos registros, porém com locais não correspondentes.
Peça 4: Peça existe em ambos registros, porém com locais não correspondentes.
Peça 5: Peça existe em ambos registros, porém com locais não correspondentes.
Peça 6: Peça existe em ambos registros, porém com locais não correspondentes.
Peça 7: Peça existe em ambos registros, porém com locais não correspondentes.
Peça 8: Peça existe em ambos registros, porém com locais não correspondentes.
Peça 9: Peça existe em ambos registros, porém com locais não correspondentes.
Peça 10: Peça existe em ambos registros, porém com locais não correspondentes.
Peça 11: Peça que existem apenas no registro ao qual corresponde a coluna.
Peça 12: Peça que existem apenas no registro ao qual corresponde a coluna.

In [13]:
resultsDFVA = listOfListsToDataframe(resultsVA)
resultsDFVA

,Peça,Resultado
0,1,"Peça existe em ambos registros, porém com locais não correspondentes."
1,2,"Peça que existem em ambos registro, e com local igual."
2,3,"Peça existe em ambos registros, porém com locais não correspondentes."
3,4,"Peça existe em ambos registros, porém com locais não correspondentes."
4,5,"Peça existe em ambos registros, porém com locais não correspondentes."
5,6,"Peça existe em ambos registros, porém com locais não correspondentes."
6,7,"Peça existe em ambos registros, porém com locais não correspondentes."
7,8,"Peça existe em ambos registros, porém com locais não correspondentes."
8,9,"Peça existe em ambos registros, porém com locais não correspondentes."
9,10,"Peça existe em ambos registros, porém com locais não correspondentes."
10,15,Peça que existem apenas no registro ao qual corresponde a coluna.
11,17,Peça que existem apenas no registro ao qual corresponde a coluna.

In [14]:
resultsDFColeta = listOfListsToDataframe(resultsColeta)
resultsDFColeta

,Peça,Resultado
0,1,"Peça existe em ambos registros, porém com locais não correspondentes."
1,2,"Peça que existem em ambos registro, e com local igual."
2,3,"Peça existe em ambos registros, porém com locais não correspondentes."
3,4,"Peça existe em ambos registros, porém com locais não correspondentes."
4,5,"Peça existe em ambos registros, porém com locais não correspondentes."
5,6,"Peça existe em ambos registros, porém com locais não correspondentes."
6,7,"Peça existe em ambos registros, porém com locais não correspondentes."
7,8,"Peça existe em ambos registros, porém com locais não correspondentes."
8,9,"Peça existe em ambos registros, porém com locais não correspondentes."
9,10,"Peça existe em ambos registros, porém com locais não correspondentes."
10,11,Peça que existem apenas no registro ao qual corresponde a coluna.
11,12,Peça que existem apenas no registro ao qual corresponde a coluna.

In [15]:
dataframeToCSV(resultsDFVA, 'outputs/1.csv')
dataframeToCSV(resultsDFColeta, 'outputs/2.csv')